@tailwind base;
@tailwind components;
@tailwind utilities;

.d-w {
    width: calc(100vw - 8rem);
}

.d-h {
    height: calc(100vh - 8rem);
}

.d-bg-transparent {
    background-color: #ffffffc4;
}

.d-bg-semi-transparent {
    background-color: #fff3;
}
